Flask==2.1.0
Werkzeug==2.2.2
itsdangerous==2.1.2
Flask-Login==0.6.0
psycopg2-binary==2.9.8  # Substituído para evitar problemas de compilação
bcrypt==3.2.0
requests==2.31.0        # Atualizado para uma versão mais recente
python-dateutil==2.8.2
pyodbc==5.1.0
pandas==2.2.2
numpy==1.21.6
uwsgi==2.0.19.1
Jinja2==3.0.3