{% extends "base.html" %}
{% block content %}

<body class="background-page-default"></body>
    <div class="container-fluid text-black mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4"></div>
            <div class="col-6 col-lg-4 d-flex align-items-center justify-content-center">
                <h4>Clientes</h4>
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-success mx-1" id="botao-adicionar">
                    <i class="fas fa-plus"></i> Adicionar
                </button>
                <button type="button" class="btn btn-primary mx-1" id="botao-editar">
                    <i class="fas fa-edit"></i> Editar
                </button>
                <button type="button" class="btn btn-danger mx-1" id="botao-apagar">
                    <i class="fas fa-trash"></i> Excluir
                </button>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-12 col-xl-7 px-1 py-1">
                <div class="card bg-light border-info">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-black text-center" id="tabela-clientes"></table>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Adicionar -->
    <div class="modal fade" id="adicionar-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Produto</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="adicionar-formulario">

                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" id="adicionar-nome" required>
                        </div>

                        <div class="form-group">
                            <label>Código</label>
                            <input type="text" class="form-control" id="adicionar-codigo" required>
                            <span class="text-danger" id="codigo-erro"></span>
                        </div>

                        <button type="submit" class="btn btn-info w-100 mt-3">
                            Salvar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar -->
    <div class="modal fade" id="editar-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Produto</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="editar-formulario">

                        <input type="hidden" id="editar-id">

                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" id="editar-nome" required>
                        </div>

                        <div class="form-group">
                            <label>Código</label>
                            <input type="text" class="form-control" id="editar-codigo" required>
                        </div>

                        <button type="submit" class="btn btn-info w-100 mt-3">
                            Salvar
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %} 

<script>

var table = $('#tabela-clientes').DataTable({
    ajax: {
        url: '/clientes',
        dataSrc: 'clientes'
    },
    pageLength: 10,
    bLengthChange: false,
    language: {
        url: "/static/js/pt-BR.json" 
    },
    columns: [
        { data: "nome", title: "Nome" },
        { data: "codigo", title: "Código" }
    ]
});

$('#tabela-clientes').on('click', 'tbody tr', function () {

    var row = table.row(this);
    if (!row.data()) return;

    table.$('tr.tableSelected').removeClass('tableSelected');
    $(this).addClass('tableSelected');
});

$('#botao-adicionar').click(function(){
    $('#adicionar-modal').modal('show');
});

$('#adicionar-formulario').submit(function(e){
    e.preventDefault();

    $.post('/clientes', {
        nome: $('#adicionar-nome').val(),
        codigo: $('#adicionar-codigo').val()
    }, function(response){
        if(response.success){
            $('#adicionar-modal').modal('hide');
                        Swal.fire({
                icon: 'success',
                title: 'Operação concluída',
                text: 'Cliente cadastrado com sucesso.',
                timer: 1500,
                showConfirmButton: false
            });
            table.ajax.reload(null, false);
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Erro',
                text: response.error
            });
        }
    });
});

$('#botao-editar').click(function(){

    var selectedRow = table.row('.tableSelected');
    if(!selectedRow.data()){
        Swal.fire({
            icon: 'error',
            title: 'Erro',
            text: "Selecione um cliente."
        });
        return;
    }

    var data = selectedRow.data();

    $('#editar-id').val(data.id);
    $('#editar-nome').val(data.nome);
    $('#editar-codigo').val(data.codigo);

    $('#editar-modal').modal('show');
});

$('#editar-formulario').submit(function(e){
    e.preventDefault();

    $.ajax({
        url: '/clientes',
        type: 'PUT',
        data: {
            id: $('#editar-id').val(),
            nome: $('#editar-nome').val(),
            codigo: $('#editar-codigo').val()
        },
        success: function(response){

            if(response.success){

                $('#editar-modal').modal('hide');
                table.ajax.reload(null, false);

                Swal.fire({
                    icon: 'success',
                    title: 'Operação concluída',
                    text: 'Cliente atualizado com sucesso.',
                    timer: 1500,
                    showConfirmButton: false
                });

            } else {

                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: response.error
                });

            }
        }
                
    });
});

$('#botao-apagar').click(function(){

    var selectedRow = table.row('.tableSelected');
    if(!selectedRow.data()){
        Swal.fire({
            icon: 'error',
            title: 'Erro',
            text: "Selecione um cliente."
        });
        return;
    }

    var data = selectedRow.data();

    $.ajax({
        url: '/clientes',
        type: 'DELETE',
        data: { id: data.id },
        success: function(){
            table.ajax.reload(null, false);
            Swal.fire({
                icon: 'success',
                title: 'Operação concluída',
                text: 'Cliente excluído com sucesso.',
                timer: 1500,
                showConfirmButton: false
            });
        }
    });
});


</script>

{% endblock %}  